div.dt-buttons{
    float: right!important;
}

.container-sm #fdata{
    padding-bottom: 30px !important;
}

table.display td {
    padding: 3px 10px;
    white-space:nowrap;
}

/* Hides text in the command columns */
.superHidden{
    display: inline;
    visibility: hidden;
    width: 0px;
    height: 0px;
    font-size: 0px;
}


/* Makes readonly input look normal */
/* **not used anymore** */
/* input[readonly]{
    background-color: #fbfbfb !important;
} */

.bigmodal {
    /* min-width: 60%; */
    max-width: 1066px !important;
}

a.buttons-collection {
    margin-left: 1em;
}

.select2{
    width:100%!important;
}

#toast-container > div {
    opacity:1 !important;
}

element {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

element::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


/* Expand credits button */
#creditModal #collapseCredits.collapse:not(.show) {
display: block;
height: 4.7rem;
overflow: hidden;
}

#creditModal #collapseCredits.collapsing {
    height: 4.7rem;
}

#creditModal #collapseCreditsBT.collapsed::after {
    content: '+ Show More';
}

#creditModal #collapseCreditsBT:not(.collapsed)::after {
    content: '- Show Less';
}

/* Expand website credits */
#creditModal #collapseWebsiteCredits.collapse:not(.show) {
    display: block;
    height: 4.5rem;
    overflow: hidden;
}
    
#creditModal #collapseWebsiteCredits.collapsing {
    height: 4.5rem;
}
    

#creditModal #collapseWebsiteCreditsBT.collapsed::after {
    content: '+ Show More';
}

#creditModal #collapseWebsiteCreditsBT:not(.collapsed)::after {
    content: '- Show Less';
}