div.dt-buttons{
    float: right!important;
}

.container-sm #fdata{
    padding-bottom: 30px !important;
}

table.display td {
    padding: 3px 10px;
    white-space:nowrap;
}

/* Hides text in the command columns */
.superHidden{
    display: inline;
    visibility: hidden;
    width: 0px;
    height: 0px;
    font-size: 0px;
}


/* Makes readonly input look normal */
/* **not used anymore** */
/* input[readonly]{
    background-color: #fbfbfb !important;
} */

.bigmodal {
    /* min-width: 60%; */
    max-width: 1066px !important;
}

a.buttons-collection {
    margin-left: 1em;
}

.select2{
    width:100%!important;
}